[submodule "vendor/borealis"]
	path = vendor/borealis
	url = https://github.com/XITRIX/borealis.git
	branch = moonlight_wiliwili
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
